@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


@import "tailwindcss";

@theme {
  --font-poppins:  "poppins" ; 
  --font-roboto: "roboto" ;
  --font-roboto-mono:  "Roboto Mono", monospace;
  --font-inter:  var(--theme-font-primary,"Inter")  , ui-sans-serif, -apple-system , system-ui, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol"  ;

 
  --color-primary: var(--theme-color-primary, #1c1d1f);
  --color-secondary :var(--theme-color-secondary,#3a3b3d) ;
  --color-modal : #2f3032 ;
  --color-dark : #0d0d0d ;
  --color-msg :  var(--theme-color-msg, #374151);
  --color-border : var(--theme-color-border, #6b7280) ;
  --color-title : var(--theme-color-title, white) ;
  --color-icon : var(--theme-color-icon, white) ;
  --color-submit : var(--theme-color-submit, white) ;
  --color-submit-text : var(--theme-color-submit-text, black) ;
  --color-tool-activated : var(--theme-color-tool-activated, white) ;
  --color-tool-text-activated : var(--theme-color-tool-text-activated, black) ;


  
}

@utility user-msg {
  color : var(--msg-text , #f3f4f6) ;
  background-color : var(--msg-bg , #374151) ;
  border-radius : var(--msg-radius , 1rem 1rem 0 1rem) ;
}

@utility main-border {
  border-color: var(--border-color, #6b7280);
  border-width: var(--border-width, 1px);
  border-style: var(--border-style, solid);
}


@keyframes ripple {
  0% {
    transform: scale(0.8);
    opacity: 1;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}




.animate-ripple {
  animation: ripple 1.8s ease-out infinite;
}


